body {
  font-family: 'Bubbler One', sans-serif;
  background-color: #fff;
  color: ;
}

.buildingBlock {
  display: block;
  position: relative;
  margin: 0;
  padding: 5% 20% 5% 20%;
}

.indexFigureHero img {
  display: block;
  position: relative;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

h3 {
  text-align: center;
}

.preview {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 500px;
}

.preview__Figure {
  width: 500px;
  height: 280px;
}
